body {
  background: #1a1a1a; /* Skills page background */
}


.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95%;
  max-width: 1800px;
  height: 100%;
  transform: translate(-50%, -50%); 
}

.skills-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.title {
  font-size: 48px;
  font-weight: bold;
  border-bottom: 8px solid salmon;
  padding-bottom: 8px;
  margin-bottom: 40px;
}
